<div data-ng-controller="dashboardCtrl">

  <div class="row mb25">
    <div class="form-group">
      <label class="col-sm-2 control-label"><h5>Space</h5></label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="spaceName" ng-options="space.name as space.name for space in spaces | orderBy:'name'" ng-change="setSpaceName(spaceName)" required>
          <option style="display:none" value="">{{space}}</option>
        </select>
      </div>
    </div>
    <div class="pull-right" ng-controller="ModalDemoCtrl">
      <button class="btn btn-sm btn-info btn-icon mr5" ng-click="openNewClusterModal('lg')"> 
        <i class="fa fa-send"></i> 
         <span>Add New Cluster</span>
      </button>
      <button class="btn btn-sm btn-primary btn-icon mr5" ng-click="openNewClusterModal('lg')"> 
        <i class="fa fa-exclamation-triangle"></i> 
         <span>Set Security</span>
      </button>
    </div>
  </div>

  <div class="row mb25">
    <div class="col-sm-12">
      <tabset class="box-tab">
        <tab heading="Library Configuration">
          <div class="panel mb25">
            <div class="panel-body">
              <div class="row no-margin">
                <div class="col-lg-12">
                  <form class="form-horizontal bordered-group" ng-submit="submitConfig()" role="form">

                    <div class="form-group">
                      <div class="col-sm-3"></div>
                      <label class="col-sm-3 control-label">Cache Capacity (in MB)</label>
                      <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="configFormData.cacheCapacityMB" placeholder="{{clusterDefinition.configuration.cacheCapacityMB}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3"></div>
                      <label class="col-sm-3 control-label">Max. Backgound IO Threads</label>
                      <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="configFormData.maxBackgroundIoThreads" placeholder="{{clusterDefinition.configuration.maxBackgroundIoThreads}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3"></div>
                      <label class="col-sm-3 control-label">Max. Background IO Queue</label>
                      <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="configFormData.maxBackgroundIoQueue" placeholder="{{clusterDefinition.configuration.maxBackgroundIoQueue}}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3"></div>
                      <label class="col-sm-3 control-label">Max. Read Ahead Window</label>
                      <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="configFormData.maxReadaheadWindow" placeholder="{{clusterDefinition.configuration.maxReadaheadWindow}}">
                      </div>
                    </div>
                    <div class="pull-right">
                      <input type="submit" class="btn btn-primary btn-sm" id="submitConfig" value="Update" />
                      <button class="btn btn-warning btn-sm" ng-click="activateChangedConfig()">Activate</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Clusters">
          <div class="panel-body">
            <!-- <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable"> -->
            <div class="row">
              <div class="col-sm-9">
              </div>
              <div class="col-sm-3">
                <form class="form-inline pull-right">
                  <div class="form-group ">
                      <input type="text" ng-model="search" class="form-control" placeholder="Search">
                  </div>
                </form>
              </div>
            </div>
            <br>
            <table class="table table-bordered bordered table-striped table-condensed datatable">
              <thead>

                <tr>
                  <th ng-click="sort('clusterID')">Name
                      <span class="glyphicon sort-icon" ng-show="sortKey=='clusterID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('drives.length')">Drives
                      <span class="glyphicon sort-icon" ng-show="sortKey=='drives.length'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('numData')">Data
                      <span class="glyphicon sort-icon" ng-show="sortKey=='numData'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('numParity')">Parity
                      <span class="glyphicon sort-icon" ng-show="sortKey=='numParity'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('chunkSizeKB')">Chunk Size
                      <span class="glyphicon sort-icon" ng-show="sortKey=='chunkSizeKB'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('timeout')">Timeout
                      <span class="glyphicon sort-icon" ng-show="sortKey=='timeout'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('minReconnectInterval')">Connect
                      <span class="glyphicon sort-icon" ng-show="sortKey=='minReconnectInterval'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('clusterID')">Failed Drives*
                      <span class="glyphicon sort-icon" ng-show="sortKey=='clusterID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('clusterID')">Indicator*
                      <span class="glyphicon sort-icon" ng-show="sortKey=='clusterID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="cluster in clusterDefinition.cluster|orderBy:sortKey:reverse|filter:search|itemsPerPage:2">
                  <td>{{cluster.clusterID}}</td>
                  <td>{{cluster.drives.length}}</td>
                  <td>{{cluster.numData}}</td>
                  <td>{{cluster.numParity}}</td>
                  <td>{{cluster.chunkSizeKB}} KB</td>
                  <td>{{cluster.timeout}} seconds</td>
                  <td>{{cluster.minReconnectInterval}} seconds</td>
                  <td>{{cluster.clusterID}}</td>
                  <td>{{cluster.clusterID}}</td>
                  <td>
                    <form editable-form name="rowformCluster" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs">
                        save
                      </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowformCluster.$cancel()" class="btn btn-default btn-xs">
                        cancel
                      </button>
                    </form>
                    <div class="buttons" ng-controller="ModalDemoCtrl" ng-show="!rowform.$visible">
                      <button class="btn btn-primary btn-xs" ng-click="openClusterUpdateModal('', cluster.clusterID)">edit</button>
                      <button class="btn btn-danger btn-xs" ng-click="removeUser($index)">del</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" >
              </dir-pagination-controls>

            <!-- <div class="row">
              <div class="col-sm-9">
              </div>
              <div class="col-sm-3">
                
              </div>
            </div>    -->      
          </div>
        </tab>
        <tab heading="Drives">
          <div class="panel-body">
            <!-- <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable"> -->
            <div class="row">
              <div class="col-sm-9">
              </div>
              <div class="col-sm-3">
                <form class="form-inline pull-right">
                  <div class="form-group ">
                      <input type="text" ng-model="search" class="form-control" placeholder="Search">
                  </div>
                </form>
              </div>
            </div>
            <br>
            <table class="table table-bordered bordered table-striped table-condensed datatable">
              <thead>
                <tr>
                  <th ng-click="sort('wwn')">WWN
                      <span class="glyphicon sort-icon" ng-show="sortKey=='wwn'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('inet4[0]')">ETH0
                      <span class="glyphicon sort-icon" ng-show="sortKey=='inet4[0]'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('inet4[1]')">ETH1
                      <span class="glyphicon sort-icon" ng-show="sortKey=='inet4[1]'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th ng-click="sort('port')">Port
                      <span class="glyphicon sort-icon" ng-show="sortKey=='port'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="drive in locationDefinition.location|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                  <td>{{drive.wwn}}</td>
                  <td>{{drive.inet4[0]}}</td>
                  <td>{{drive.inet4[1]}}</td>
                  <td>{{drive.port}}</td>
                  <td>
                    <form editable-form name="rowformDrive" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs">
                        save
                      </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowformDrive.$cancel()" class="btn btn-default btn-xs">
                        cancel
                      </button>
                    </form>
                    <div class="buttons" ng-controller="ModalDemoCtrl" ng-show="!rowform.$visible">
                      <button class="btn btn-primary btn-xs" ng-click="openDriveUpdateModal('', drive.wwn)">edit</button>
                      <div ng-show="selected">Selection from a modal: {{ selected }}</div>
                      <button class="btn btn-danger btn-xs" ng-click="removeUser($index)">del</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" >
              </dir-pagination-controls>

            <!-- <div class="row">
              <div class="col-sm-9">
              </div>
              <div class="col-sm-3">
                
              </div>
            </div>    -->      
          </div>
        </tab>
      </tabset>
    </div>
  </div>

</div>


<script type="text/ng-template" id="clusterUpdateModal.html">
  <div class="modal-header">
    <h3 class="modal-title"> Edit Cluster</h3>
  </div>
  <form class="form-horizontal bordered-group" ng-submit="submitClusterUpdate()" role="form">
    <div class="modal-body">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Cluster ID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.clusterID" placeholder="{{formData.clusterID}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Data</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.numData" placeholder="{{formData.numData}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Parity</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.numParity" placeholder="{{formData.numParity}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Chunk Size</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.chunkSizeKB" placeholder="{{formData.chunkSizeKB}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Timeout</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.timeout" placeholder="{{formData.timeout}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Reconnect Interval</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.minReconnectInterval" placeholder="{{formData.minReconnectInterval}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Drives</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.drives.length" placeholder="{{formData.drives.length}}">
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary btn-sm" id="submitClusterUpdate" value="Update" />
      <button class="btn btn-warning btn-sm" ng-click="activateChangedConfig()">Activate</button>
      <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </form>
  
</script>

<script type="text/ng-template" id="newClusterModal.html">
  <div class="modal-header">
    <h3 class="modal-title"> Add Cluster</h3>
  </div>
  <form class="form-horizontal bordered-group" ng-submit="addNewCluster()" role="form">
    <div class="modal-body">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Cluster ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="formData.clusterID" placeholder="This must be unique.">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Data</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="formData.numData" placeholder="numData">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Parity</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="formData.numParity" placeholder="numParity">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Chunk Size</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="formData.chunkSizeKB" placeholder="in KB">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Timeout</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="formData.timeout" placeholder="in seconds">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Reconnect Interval</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="formData.minReconnectInterval" placeholder="in seconds">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Drives</label>
          <div class="col-sm-6">
            <select multiple class="form-control" ng-model="formData.drives">
              <option value="{{drive.wwn}}" ng-repeat="drive in locationDefinition.location | orderBy:'wwn'">
                  {{drive.wwn}} | {{drive.inet4[0]}} | {{drive.inet4[1]}} | {{drive.port}}
              </option>
            </select>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb15">
              <span class="input-group-addon">
                  <input type="checkbox" ng-model="formData.automaticSelection">
              </span>
              <input type="text" ng-model="formData.numDrives" placeholder="Choose Drives Automatically" class="form-control">
            </div>

            <div class="input-group mb15">
              <span class="input-group-addon">
                  <input type="checkbox" ng-model="formData.sharing">
              </span>
              <input type="text" ng-model="formData.numShare" placeholder="Allow Sharing Among Drives" class="form-control">
            </div>

          </div>
        </div>

        // {{formData}}

      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary btn-sm" id="addNewCluster" value="Add" />
      <button class="btn btn-warning btn-sm" ng-click="activateChangedConfig()">Activate</button>
      <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </form>
  
</script>

<script type="text/ng-template" id="driveUpdateModal.html">
  <div class="modal-header">
    <h3 class="modal-title"> Edit Drive</h3>
  </div>
  <form class="form-horizontal bordered-group" ng-submit="submitDriveUpdate()" role="form">
    <div class="modal-body">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">WWN</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.wwn" placeholder="{{formData.wwn}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">ETH0</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.inet4[0]" placeholder="{{formData.inet4[0]}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">ETH1</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.inet4[1]" placeholder="{{formData.inet4[1]}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Port</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.port" placeholder="{{formData.port}}">
          </div>
        </div>      
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary btn-sm" id="submitDriveUpdate" value="Update" />
      <button class="btn btn-warning btn-sm" ng-click="activateChangedConfig()">Activate</button>
      <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </form>
  
</script>