<div data-ng-controller="dashboardCtrl">

  <div class="row">
    <div class="col-md-6">
      <div class="widget bg-primary">
        <div class="widget-bg-icon">
          <i class="fa fa-bookmark-o"></i>
        </div>
        <div class="widget-details">
          <h4 class="no-margin">{{versionData.instance.name}}</h4>
          <span>EOS Instance</span>
        </div>
      </div>

      <tabset class="box-tab left">
        <tab heading="Server">
          <div class="widget bg-white">
            <div class="widget-details widget-list">
              <a href="javascript:;" class="widget-list-item">
                <span class="label label-info pull-right">{{versionData.instance.version}}</span> Version
              </a>
              <a href="javascript:;" class="widget-list-item">
                <span class="label label-danger pull-right">{{versionData.instance.release}}</span> Release
              </a>
              <a href="javascript:;" class="widget-list-item">
                <span class="label label-warning pull-right">{{versionData.encodepath}}</span> Feature: Encodepath
              </a>
              <a href="javascript:;" class="widget-list-item">
                <span class="label label-warning pull-right">{{versionData.lazyopen}}</span> Feature: Lazyopen
              </a>
            </div>
          </div>
        </tab>

        <tab heading="Client">
          <div class="widget bg-white">
            <div class="widget-details widget-list">
              <a href="javascript:;" class="widget-list-item">
                <span class="label label-info pull-right">{{versionData.instance.version}}</span> Version
              </a>
              <a href="javascript:;" class="widget-list-item">
                <span class="label label-danger pull-right">{{versionData.instance.release}}</span> Release
              </a>
            </div>
          </div>
        </tab>
      </tabset>
    </div>

    <div class="col-md-6">
      <div class="panel mb25">
        <div class="panel-heading border">
          Default Space Status
        </div>
        <div class="panel-body">

          <div class="widget bg-white">
            <div class="widget-details widget-list">

              <a href="javascript:;" class="widget-list-item">
                <label class="switch switch-sm pull-right">
                  <input type="checkbox" ng-model="balancer" ng-change="switchBalancer(balancer)">
                  <span> 
                    <i class="handle"></i>
                  </span>
                </label>
                Balancer
              </a>
              
              <a href="javascript:;" class="widget-list-item">
                <label class="switch switch-sm pull-right">
                  <input type="checkbox" ng-model="converter" ng-change="switchConverter(converter)">
                  <span> 
                    <i class="handle"></i>
                  </span>
                </label>
                Converter
              </a>
              <a href="javascript:;" class="widget-list-item">
                <label class="switch switch-sm pull-right">
                  <input type="checkbox" ng-model="geoTagBalancer" ng-change="switchGeoTagBalancer(geoTagBalancer)">
                  <span> 
                    <i class="handle"></i>
                  </span>
                </label>
                Geo-tag Balancer
              </a>
              <a href="javascript:;" class="widget-list-item">
                <label class="switch switch-sm pull-right">
                  <input type="checkbox" ng-model="groupBalancer" ng-change="switchGroupBalancer(groupBalancer)">
                  <span> 
                    <i class="handle"></i>
                  </span>
                </label>
                Group Balancer
              </a>
              <a href="javascript:;" class="widget-list-item">
                <label class="switch switch-sm pull-right">
                  <input type="checkbox" ng-model="quota" ng-change="switchQuota(quota)">
                  <span> 
                    <i class="handle"></i>
                  </span>
                </label>
                Quota
              </a>
            </div>
          </div>

        </div>
      </div>
     
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="panel bg-danger">
        <div class="panel-heading border">
          Default Space
        </div>
        <div class="panel-body text-center">
          <div class="piechart m25">
            <div class="bounce_pie" easypiechart options="options1" percent="percent1">
              <div>
                <div class="percent h1"></div>
                <small>Group Activity</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="panel bg-success">
        <div class="panel-heading border">
          Signup rate
        </div>
        <div class="panel-body text-center">
          <div class="piechart m25">
            <div class="total" easypiechart options="options2" percent="percent2">
              <div>
                <div class="percent h1"></div>
                <small>New user signup Rate</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="panel bg-info">
        <div class="panel-heading border">
          Visitors
        </div>
        <div class="panel-body text-center">
          <div class="piechart m25">
            <div class="dailyvisitors" easypiechart options="options3" percent="percent3">
              <div>
                <div class="percent h1"></div>
                <small>Daily visitors</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="panel bg-warning">
        <div class="panel-heading border">
          New Visitors
        </div>
        <div class="panel-body text-center">
          <div class="piechart m25">
            <div class="newvisitors" easypiechart options="options4" percent="percent4">
              <div>
                <div class="percent h1"></div>
                <small>Percentage new visitors</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel mb25">
        <div class="panel-heading">
          <h4 class="no-margin text-uppercase">NS STATS</h4>
        </div>

        <div class="panel-body col-md-6">
          <table class="table mb0">
            <thead>
              <tr>
                <th class="col-md-6">
                  <span></span>Entity</th>
                <th class="col-md-3">Value</th>
                <th class="col-md-3">Progress</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span></span>Files</td>
                <td>{{nsStatData[0].ns.total.files}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm no-margin">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Directories</td>
                <td>{{nsStatData[1].ns.total.directories}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm no-margin">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%">
                      <span class="sr-only">23% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Files Changelog Size</td>
                <td>{{nsStatData[2].ns.total.files.changelog.size}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm no-margin">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                      <span class="sr-only">78% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Directories Changelog Size</td>
                <td>{{nsStatData[3].ns.total.directories.changelog.size}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm progress-striped active no-margin">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%">
                      <span class="sr-only">56% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Files Changelog Avg Entry</td>
                <td>{{nsStatData[4].ns.total.files.changelog.avg_entry_size}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm progress-striped no-margin">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 49%">
                      <span class="sr-only">49% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Directories Changelog Avg Entry</td>
                <td>{{nsStatData[5].ns.total.directories.changelog.avg_entry_size}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm progress-striped no-margin">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 49%">
                      <span class="sr-only">49% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="panel-body col-md-6">
          <table class="table mb0">
            <thead>
              <tr>
                <th class="col-md-6">
                  <span></span>Entity</th>
                <th class="col-md-3">Value</th>
                <th class="col-md-3">Progress</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span></span>Boot Status</td>
                <td>{{nsStatData[7].ns.boot.status}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm no-margin">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Boot Time</td>
                <td>{{nsStatData[8].ns.boot.time}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm no-margin">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%">
                      <span class="sr-only">23% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Latency Avg</td>
                <td>{{nsStatData[9].ns.latency.avg}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm no-margin">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                      <span class="sr-only">78% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Latency Sigma</td>
                <td>{{nsStatData[10].ns.latency.sig}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm progress-striped active no-margin">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%">
                      <span class="sr-only">56% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Threads</td>
                <td>{{nsStatData[15].ns.stat.threads}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm progress-striped no-margin">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 49%">
                      <span class="sr-only">49% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span></span>Uptime</td>
                <td>{{nsStatData[17].ns.uptime}}</td>
                <td class="align-middle">
                  <div class="progress progress-sm progress-striped no-margin">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 49%">
                      <span class="sr-only">49% Complete (success)</span>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="widget bg-white">
        <div class="widget-icon bg-blue pull-left fa fa-database">
        </div>
        <div class="overflow-hidden">
          <span class="widget-title">{{nsStatData[12].ns.memory.virtual}}</span>
          <span class="widget-subtitle">Virtual Memory</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="widget bg-white">
        <div class="widget-icon bg-danger pull-left fa fa-home">
        </div>
        <div class="overflow-hidden">
          <span class="widget-title">{{nsStatData[13].ns.memory.resident}}</span>
          <span class="widget-subtitle">Resident Memory</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="widget bg-white">
        <div class="widget-icon bg-success pull-left fa fa-share-alt">
        </div>
        <div class="overflow-hidden">
          <span class="widget-title">{{nsStatData[14].ns.memory.share}}</span>
          <span class="widget-subtitle">Share Memory</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="widget bg-white">
        <div class="widget-icon bg-purple pull-left fa fa-cube">
        </div>
        <div class="overflow-hidden">
          <span class="widget-title">{{nsStatData[16].ns.memory.growth}}</span>
          <span class="widget-subtitle">Growth Memory</span>
        </div>
      </div>
    </div>
  </div>

<!--   <div class="panel">
    <div class="panel-heading border">
    </div>
    <div class="panel-body">
      <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start Date</th>
          </tr>
        </thead>
      </table>
    </div>
  </div> -->

</div>
