<div data-ng-controller="dashboardCtrl">

  <div class="row">

    <div class="panel">
      <div class="panel-heading border">
      <p>File System View</p>
      </div>

      <div class="panel-body">
        <div class="row mb25">
        <div class="pull-right" ng-controller="ModalDemoCtrl">
        <button class="btn btn-sm btn-info btn-icon mr5" ng-click="openNewFSModal()">
          <i class="fa fa-plus-circle"></i>
            <span>Add Filesystem</span>
          </button>
        </div>
      </div>
        <!-- <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable"> -->
        <div class="row">

          <div class="col-sm-6">
            <!-- <div class="dataTables_length" id="DataTables_Table_0_length">
              <label style="display:inline;">
                Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>  entries
              </label>
            </div> -->
          </div>
          <div class="col-sm-6">
            <form class="form-inline pull-right">
              <div class="form-group ">
                  <input type="text" ng-model="search" class="form-control" placeholder="Search">
              </div>
            </form>
          </div>
        </div>
        <br>
        <table class="table table-bordered bordered table-striped table-condensed datatable">
          <thead>
            <tr>
              <th ng-click="sort('host')">Host
                  <span class="glyphicon sort-icon" ng-show="sortKey=='host'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('id')">Id
                  <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('path')">Path
                  <span class="glyphicon sort-icon" ng-show="sortKey=='path'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('schedgroup')">Schedgroup
                  <span class="glyphicon sort-icon" ng-show="sortKey=='schedgroup'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('stat.geotag')">Geo-tag
                  <span class="glyphicon sort-icon" ng-show="sortKey=='stat.geotag'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('stat.boot')">Boot
                  <span class="glyphicon sort-icon" ng-show="sortKey=='stat.boot'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('configstatus')">Config-status
                  <span class="glyphicon sort-icon" ng-show="sortKey=='configstatus'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('stat.drain')">Drain
                  <span class="glyphicon sort-icon" ng-show="sortKey=='stat.drain'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('stat.active')">Active
                  <span class="glyphicon sort-icon" ng-show="sortKey=='stat.active'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              </th>
                <th align="center">Edit
              </th>
            </tr>
          </thead>
          <tbody  ng-controller="ModalDemoCtrl">
            <tr dir-paginate="fileSystem in fileSystems|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
              <td>{{fileSystem.host}}</td>
              <td>{{fileSystem.id}}</td>
              <td>{{fileSystem.path}}</td>
              <td>{{fileSystem.schedgroup}}</td>
              <td>{{fileSystem.stat.geotag}}</td>
              <td>{{fileSystem.stat.boot}}</td>
              <td>{{fileSystem.configstatus}}</td>
              <td>{{fileSystem.stat.drain}}</td>
              <td>{{fileSystem.stat.active}}</td>
              <td  align="center">
                <button class="btn btn-info  btn-xs" ng-click="openUpdateFSModal(fileSystem.id,fileSystem.configstatus)">edit</button>
                <button class="btn btn-info  btn-xs" ng-click="openMoveFSModal(fileSystem.id,fileSystem.schedgroup)">move</button>
                <button class="btn btn-danger  btn-xs" ng-click="delFS(fileSystem.id)">del</button>
            </td>

            </tr>
          </tbody>
        </table>
        <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" >
          </dir-pagination-controls>

        <!-- <div class="row">
          <div class="col-sm-9">
          </div>
          <div class="col-sm-3">
            
          </div>
        </div>    -->      
      </div>
    </div>

  </div>

<script type="text/ng-template" id="fsAddModal.html">

  <div class="modal-header">
    <h3 class="modal-title"> Add Filesystem</h3>
  </div>
  <form class="form-horizontal bordered-group" ng-submit="addNewFilesystem()" role="form">
    <div class="modal-body">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Hostname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.hostname" placeholder="{{formData.hostname}}" ngRequired="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Port </label>
          <div class="col-sm-9">
             <input type="number" class="form-control" ng-model="formData.port" placeholder="{{formData.port}}" ngRequired="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">FS UUID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.uuid" placeholder="{{formData.uuid}}" ngRequired="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">FS ID (numeric filesystem id 1..65535) </label>
          <div class="col-sm-9">
             <input type="number" min="1" max="65535" class="form-control" ng-model="formData.fsid" placeholder="{{formData.fsid}}" ngRequired="false">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Mountpoint </label>
          <div class="col-sm-9">
             <input type="text" class="form-control" ng-model="formData.mountpoint" placeholder="{{formData.mountpoint}}" ngRequired="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Space </label>
          <div class="col-sm-9">
             <input type="text" class="form-control" ng-model="formData.space" placeholder="{{formData.space}}" ngRequired="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Config Status </label>
          <div class="col-sm-9">
             <select ng-init="formData.status = 'off'" class="form-control" ng-model="formData.status" placeholder="{{formData.status}}" ngRequired="true">
                 <option value="ro">ro</option>
                 <option value="off">off</option>
                 <option value="rw">rw</option>
            </select>
          </div>
        </div>
       </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary btn-sm" id="addNewFilesystem" value="Add" />
    </div>
  </form>
</script>

<script type="text/ng-template" id="fsMoveModal.html">

 <div class="modal-header">
    <h3 class="modal-title">Move Filesystem </h3>
  </div>
  <form class="form-horizontal bordered-group" ng-submit="moveFilesystem()" role="form">
    <div class="modal-body">
      <div class="panel-body">
       <div class="form-group">
          <label class="col-sm-3 control-label">FS ID</label>
          <div class="col-sm-9">
            <input class="form-control" ng-model="formData.fsid" placeholder="{{formData.fsid}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Destintation Space/ Scheduling Group</label>
          <div class="col-sm-9">
             <input class="form-control" ng-model="formData.dstspace" placeholder="{{formData.dstspace}}" ngRequired="true">
        </div>
     </div>
   </div>
   <div class="modal-footer">
      <input type="submit" class="btn btn-primary btn-sm" id="moveFilesystem" value="Move" />
    </div>
  </form>
</script>

<script type="text/ng-template" id="fsConfigModal.html">

 <div class="modal-header">
    <h3 class="modal-title">Update Filesystem </h3>
  </div>
  <form class="form-horizontal bordered-group" ng-submit="updateFilesystemParams()" role="form">
    <div class="modal-body">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Config-Status</label>
          <div class="col-sm-9">
	     <select class="form-control" ng-model="formData.value" placeholder="{{formData.value}}" ngRequired="true">
                 <option value="rw">rw</option>
                 <option value="wo">wo</option>
                 <option value="ro">ro</option> 
		 <option value="drain">drain</option>
		 <option value="off">off</option>
		 <option value="empty">empty</option>
             </select>
            <input type="hidden" class="form-control" ng-model="formData.key" ng-init="formData.key='configstatus'"/>
            <input type="hidden" class="form-control" ng-model="formData.fsid" value="{{formData.fsid}}"/>
            <input type="submit" class="btn btn-primary btn-sm" id="updateFilesystemParams" value="Update" />
        </div>
      </div>
     </div>
   </div>
  </form>
  <!--form class="form-horizontal bordered-group" ng-submit="updateFilesystemParams()" role="form">
    <div class="modal-body">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Scan Interval</label>
          <div class="col-sm-9">
            <input class="form-control" ng-model="formData.value" placeholder="{{formData.value}}" ngRequired="true">
            <input type="hidden" class="form-control" ng-model="formData.key" ng-init="formData.key='scaninterval'"/>
            <input type="hidden" class="form-control" ng-model="formData.fsid" value="{{formData.fsid}}"/>
            <input type="submit" class="btn btn-primary btn-sm" id="updateFilesystemParams" value="Update" />
        </div>
      </div>
     </div>
   </div>
  </form-->

</script>



</div>
