<div data-ng-controller="dashboardCtrl">

  <div class="panel">
    <div class="panel-heading border">
    <p>Group View</p>
    </div>
    <div class="panel-body">
     <div class="row mb25">
       <div class="pull-right" ng-controller="ModalDemoCtrl">
       <button class="btn btn-sm btn-info btn-icon mr5" ng-click="openNewGroupModal()">
        <i class="fa fa-plus-circle"></i>
         <span>Add Group</span>
        </button>
      </div>
    </div>
      <!-- <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable"> -->
      <div class="row">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          <form class="form-inline pull-right">
            <div class="form-group ">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
      <br>
      <table class="table table-bordered bordered table-striped table-condensed datatable">
        <thead>
          <tr>
            <th ng-click="sort('name')">Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('cfg.status')">Status
                <span class="glyphicon sort-icon" ng-show="sortKey=='cfg.status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('nofs')">Nofs
                <span class="glyphicon sort-icon" ng-show="sortKey=='nofs'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('dev.stat.statfs.filled')">Dev (Filled)
                <span class="glyphicon sort-icon" ng-show="sortKey=='dev.stat.statfs.filled'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('avg.stat.statfs.filled')">Avg (Filled)
                <span class="glyphicon sort-icon" ng-show="sortKey=='avg.stat.statfs.filled'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('sig.stat.statfs.filled')">Sig (Filled)
                <span class="glyphicon sort-icon" ng-show="sortKey=='sig.stat.statfs.filled'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('cfg.stat.balancing')">Balancing
                <span class="glyphicon sort-icon" ng-show="sortKey=='cfg.stat.balancing'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('sum.stat.balancer.running')">Bal-shd
                <span class="glyphicon sort-icon" ng-show="sortKey=='sum.stat.balancer.running'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('sum.stat.drainer.running')">Drain-shd
                <span class="glyphicon sort-icon" ng-show="sortKey=='sum.stat.drainer.running'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
             <th align="center">Edit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="group in groups|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
            <td>{{group.name}}</td>
            <td>{{group.cfg.status}}</td>
            <td>{{group.nofs}}</td>
            <td>{{group.dev.stat.statfs.filled}}</td>
            <td>{{group.avg.stat.statfs.filled}}</td>
            <td>{{group.sig.stat.statfs.filled}}</td>
            <td>{{group.cfg.stat.balancing}}</td>
            <td>{{group.sum.stat.balancer.running}}</td>
            <td>{{group.sum.stat.drainer.running}}</td>
            <td  align="center">
                <button class="btn btn-sm btn-info  btn-icon mr5" ng-click="openNewClusterModal('lg')">
                  <i class="fa fa-flash"></i>
                  <span>Config</span>
                </button>
		<button class="btn btn-sm btn-danger btn-icon mr5" ng-click="openNewClusterModal('lg')">
                  <i class="fa fa-minus-circle"></i>
                  <span>Remove</span>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" >
        </dir-pagination-controls>

      <!-- <div class="row">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          
        </div>
      </div>    -->      
    </div>
  </div>

<script type="text/ng-template" id="groupAddModal.html">

  <div class="modal-header">
    <h3 class="modal-title"> Add Group</h3>
  </div>
  <form class="form-horizontal bordered-group" ng-submit="addGroup()" role="form">
    <div class="modal-body">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Cluster ID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.clusterID" placeholder="{{formData.clusterID}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Data</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.numData" placeholder="{{formData.numData}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Parity</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.numParity" placeholder="{{formData.numParity}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Chunk Size</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.chunkSizeKB" placeholder="{{formData.chunkSizeKB}}" disabled="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Timeout</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.timeout" placeholder="{{formData.timeout}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Reconnect Interval</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="formData.minReconnectInterval" placeholder="{{formData.minReconnectInterval}}">
          </div>
        </div>

    <div class="modal-footer">
      <input type="submit" class="btn btn-primary btn-sm" id="addNewGroup" value="Add" />
    </div>
  </form>
  
</script>
</div>
