<div data-ng-controller="dashboardCtrl">

  <div class="row">

    <div class="panel">
      <div class="panel-heading border">
      <p>Node View</p>
      </div>

      <div class="panel-body">
       <div class="row mb25">
        <div class="pull-right" ng-controller="ModalDemoCtrl">
        <button class="btn btn-sm btn-info btn-icon mr5" ng-click="openNewGroupModal()">
          <i class="fa fa-plus-circle"></i>
            <span>Add Node</span>
          </button>
        </div>
       </div>
        <!-- <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable"> -->
        <div class="row">
          <div class="col-sm-9">
          </div>
          <div class="col-sm-3">
            <form class="form-inline pull-right">
              <div class="form-group ">
                  <input type="text" ng-model="search" class="form-control" placeholder="Search">
              </div>
            </form>
          </div>
        </div>
        <br>
        <table class="table table-bordered bordered table-striped table-condensed datatable">
          <thead>
            <tr>
              <th ng-click="sort('hostport')">Hostport
                  <span class="glyphicon sort-icon" ng-show="sortKey=='hostport'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('cfg.stat.geotag')">Geotag
                  <span class="glyphicon sort-icon" ng-show="sortKey=='cfg.stat.geotag'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('status')">Status
                  <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('cfg.txgw')">Txgw
                  <span class="glyphicon sort-icon" ng-show="sortKey=='cfg.txgw'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('stat.gw.queued')">Gw-queued
                  <span class="glyphicon sort-icon" ng-show="sortKey=='stat.gw.queued'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('cfg.gw.ntx')">Gw-ntx
                  <span class="glyphicon sort-icon" ng-show="sortKey=='cfg.gw.ntx'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('cfg.gw.rate')">Gw-rate
                  <span class="glyphicon sort-icon" ng-show="sortKey=='cfg.gw.rate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('heartbeatdelta')">Heartbeatdelta
                  <span class="glyphicon sort-icon" ng-show="sortKey=='heartbeatdelta'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('nofs')">Nofs
                  <span class="glyphicon sort-icon" ng-show="sortKey=='nofs'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th align="center">Edit
              </th>
            </tr>
          </thead>
          <tbody  ng-controller="ModalDemoCtrl">
            <tr dir-paginate="node in nodes|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
              <td>{{node.hostport}}</td>
              <td>{{node.cfg.stat.geotag}}</td>
              <td>{{node.status}}</td>
              <td>{{node.cfg.txgw}}</td>
              <td>{{node.stat.gw.queued}}</td>
              <td>{{node.cfg.gw.ntx}}</td>
              <td>{{node.cfg.gw.rate}}</td>
              <td>{{node.heartbeatdelta}}</td>
              <td>{{node.nofs}}</td>
	      <td  align="center">
                <button class="btn btn-info  btn-xs" ng-click="openUpdateGroupModal(group.name,group.cfg.status)">edit</button>
                <button class="btn btn-danger  btn-xs" ng-click="delNode(node.hostport)">del</button>
              </td>
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" >
          </dir-pagination-controls>

        <!-- <div class="row">
          <div class="col-sm-9">
          </div>
          <div class="col-sm-3">
            
          </div>
        </div>    -->      
      </div>

    </div>

  </div>

</div>
