<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/logo1.png" height="25" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation" side-navigation data-ng-controller="dashboardCtrl">

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="active">
      <a href="#/">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- /dashboard -->

    <!-- views -->
    <li data-ng-class="{open: $state.includes('app.views')}">
      <a href="javascript:;">
        <i class="fa fa-eye"></i>
        <span>Views</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.views.groupView">
            <span>Group</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.views.spaceView">
            <span>Space</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.views.fileSystemView">
            <span>File System</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.views.nodeView">
            <span>Node</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- /views -->
    
    <li data-ng-class="{open: $state.includes('app.kineticClusters')}">
      <a href="javascript:;">
        <i class="fa fa-cogs"></i>
        <span>Kinetic Drives</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active">
          <a ui-sref="app.kineticClusters.clusters">
            <span class="label label-success pull-right">{{clusterDefinition.cluster.length}}</span>
            <span>Clusters</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</nav>
<!-- /main navigation -->
